body {
  margin: 0;
  padding: 0;
}

#bakery {
  background-color: burlywood;
  height: 100vh;
  position: relative;
}

#oven {
  background-color: gray;
  width: 30vw;
  height: 40vh;
  position: absolute;

  left: 0;
}

#preparing-area {
  background-color: whitesmoke;
  width: 30vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
}

#serving-area {
  background-color: pink;
  width: 30vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
  left: 30vw;
}

#budget {
  background-color: darkgreen;
  width: 30vw;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 60vw;
}

#tray {
  background-color: black;
  width: 20vw;
  height: 10vh;
}

#orders {
  background-color: darkkhaki;
  width: 20vw;
  height: 70vh;
  position: absolute;
  top: 0;
  right: 0;
}
